---
layout: default
---

{% include base_path %}

<div id="main" class="author" role="main">
  <h2>{{ page.name }}</h2>
  
  <div class="author__avatar">
    <img src="/images/{{ page.avatar }}" class="author__avatar" alt="avatar of {{ page.name }}">
  </div>
  
  <p>{{ page.name }} is contributing to the project since {{ page.since }}.</p>
  
  {{ content }}
</div>
