---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}

<div id="main" role="main">

  {% if page.url == "/" %}
    {% assign float = "unset !important" %}
    {% unless page.header.overlay_color or page.header.overlay_image %}
    <header>
      {% if page.title %}
      <div class="hero-parent">
        <img src="{{ base_path }}/images/hero.png" class="hero-banner -light" />
        <img src="{{ base_path }}/images/hero-mesh.png" class="hero-banner -dark" />
        <div class="hero-cta">
          <div id="exitSearchTrigger"></div>
          <h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          {% if page.summary %}
          <p>{{page.summary}}<br><a href="#all-wallets-ordered-by-verifiability-downloads-and-ratings" class="cta-learn-more"><i class="fas fa-info-circle"></i>&nbsp;Learn more.</a></p>
          <div class="wallet-search-placeholder"></div>
          <a href="#tableofwallets" class="cta-button primary">
            <i class="fas fa-wallet"></i>
            &nbsp;
            Checkout the list
          </a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </header>
    {% endunless %}
  {% else %}
    {% include sidebar.html %}
    {% assign float = "" %}
  {% endif %}

<article class="page" style="float:{{ float }};" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}
    <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.excerpt %}
    <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.date %}
    <meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}
    <meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      {% if page.url != "/" %}
      {% unless page.header.overlay_color or page.header.overlay_image %}
      <header>
        {% if page.title %}<h1 class="page__title" itemprop="headline">
          {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        {% if page.read_time %}
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}
        {% if page.modified %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
            {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time
            datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
        {% endif %}

        {% if page.date %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
            {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time
            datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
        </p>
        {% endif %}
      </header>
      {% endunless %}
      {% endif %}

      <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}"
            class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>
        {% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
        <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>

      {% if page.share %}
        {% include social-share.html %}
      {% endif %}

      {% include post_pagination.html %}
    </div>

    {% if site.comments.provider and page.comments %}
    {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}
  <!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
  <div class="page__related">
    {% if site.data.ui-text[site.locale].related_label %}
    <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}
    </h4>
    {% endif %}
    <div class="grid__wrapper">
      {% for post in site.related_posts limit:4 %}
      {% include archive-single.html type="grid" %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
